<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="databaseConnectionString" connectionString="datasource=localhost;port=;username=root;password=1234;database=rmdb;charset=utf8"/>
    <!--add name="databaseConnectionString" connectionString="datasource=10.0.1.22;port=3306;username=rdmadm;password=aleks123;database=rdmdb;charset=utf8"/-->
  </connectionStrings>
</configuration>